<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>添加实习生</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">
			/* Chart.js */
			
			@-webkit-keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			@keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			.chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
			}
		</style>
	</head>

	<body>

		<div th:replace="~{common/commons::topbar}"></div>

		<div class="container-fluid">
			<div class="row">
				<!--公共的侧边栏-->
				<div th:replace="~{common/commons::sidebar(active='ExempList.html')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<form th:action="@{/exemp/addExercitation}" method="post">
						<div class="form-group">
							<label>姓名</label>
							<input type="text" name="exname" class="form-control" placeholder="请输入实习生姓名" required>
						</div>
						<div class="form-group">
							<label>邮箱</label>
							<input type="email" name="exemail" class="form-control" placeholder="实习生邮箱" required>
						</div>
						<div class="form-group">
							<label>性别</label><br>
							<div class="form-check form-check-inline">
								<input class="form-check-input" checked type="radio" name="exgender" value="1">
								<label class="form-check-label">男</label>
							</div>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="exgender" value="0">
							<label class="form-check-label">女</label>
						</div>
						<div class="form-group">
							<label>所属部门</label>
							<select class="form-control" name="exdepartment">
								<!--我们在controller接收的是一个Employee，所以我们需要提交的是其中的一个属性-->
								<option th:each="dept:${departments}" th:text="${dept.getDepartmentName()}" th:value="${dept.getDid()}">1</option>
							</select>
						</div>
						<div class="form-group">
							<label>外语能力</label>
							<select class="form-control" name="foreignskill">
								<option th:text="无" th:value="1">1</option>
								<option th:text="英语四级" th:value="2">2</option>
								<option th:text="英语六级" th:value="3">3</option>
								<option th:text="其他语种证书" th:value="4">3</option>
							</select>
						</div>

						<button type="submit" class="btn btn-primary">添加</button>
					</form>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>

		<!-- Icons -->
		<script type="text/javascript" th:src="@{/asserts/js/feather.min.js}"></script>
		<script>
			feather.replace()
		</script>

		<!-- Graphs -->
		<script type="text/javascript" th:src="@{/asserts/js/Chart.min.js}"></script>
		<script>
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
					datasets: [{
						data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
						lineTension: 0,
						backgroundColor: 'transparent',
						borderColor: '#007bff',
						borderWidth: 4,
						pointBackgroundColor: '#007bff'
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: false
							}
						}]
					},
					legend: {
						display: false,
					}
				}
			});
		</script>

	</body>

</html>