<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>修改信息</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">
			/* Chart.js */
			
			@-webkit-keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			@keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			.chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
			}
		</style>
	</head>

	<body>

		<div th:replace="~{common/commons::topbar}"></div>

		<div class="container-fluid">
			<div class="row">
				<!--公共的侧边栏-->
				<div th:replace="~{common/commons::sidebar(active='Elist.html')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<form th:action="@{/emp/updateEmployee}" method="post">
						<div class="form-group">
							<!--隐藏域-->
							<input type="hidden" name="eid" th:value="${QEmployee.getEid()}">
							<label>姓名</label>
							<input type="text" name="lastName" class="form-control" th:value="${QEmployee.getLastName()}">
						</div>
						<div class="form-group">
							<label>邮箱</label>
							<input type="email" name="email" class="form-control" th:value="${QEmployee.getEmail()}">
						</div>
						<div class="form-group">
							<label>性别r</label><br>
							<div class="form-check form-check-inline">
								<input th:checked="${QEmployee.getGender()==1}" class="form-check-input" type="radio" name="gender" value="1">
								<label class="form-check-label">男</label>
							</div>
						</div>
						<div class="form-check form-check-inline">
							<input th:checked="${QEmployee.getGender()==0}" class="form-check-input" type="radio" name="gender" value="0">
							<label class="form-check-label">女</label>
						</div>
						<div class="form-group">
							<label>所属部门</label>
							<select class="form-control" name="department">
								<!--我们在controller接收的是一个Employee，所以我们需要提交的是其中的一个属性-->
								<option th:selected="${dept.getDid()==QEmployee.getDepartment()}" th:each="dept:${departments}"
										th:text="${dept.getDepartmentName()}"
										th:value="${dept.getDid()}">1
								</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">修改</button>
					</form>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>

		<!-- Icons -->
		<script type="text/javascript" th:src="@{/asserts/js/feather.min.js}"></script>
		<script>
			feather.replace()
		</script>

		<!-- Graphs -->
		<script type="text/javascript" th:src="@{/asserts/js/Chart.min.js}"></script>
	</body>

</html>