<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cao.pms.part1.dao.EmployeeDao">
    <select id="queryAllEmployee" resultType="Employee">
        select * from employee
    </select>

    <select id="queryEmployeeById" parameterType="int" resultType="Employee">
        select * from employee where eid = #{eid}
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert into pms.employee (lastName, email, gender, department) VALUES (#{lastName},#{email},#{gender},#{department})
    </insert>

    <update id="updateEmployee" parameterType="Employee">
        update pms.employee set lastName = #{lastName},email = #{email},gender=#{gender},department=#{department}
        where eid = #{eid};
    </update>

    <delete id="deleteEmployee" parameterType="int">
        delete from employee where eid=#{eid}
    </delete>

    <update id="updateEmployeeDepart" parameterType="EmployeeDepartVO">
        update employee set department = #{department} where eid=#{eid};
    </update>

</mapper>