<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cao.pms.part3.dao.WorkDao">

    <update id="updateWorkDay" parameterType="Work">
        update work set workday = #{workday}
        where wid = #{wid}
    </update>

    <select id="getWorkDay" parameterType="int" resultType="Work">
        select * from work where wid=#{wid}
    </select>
</mapper>