<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>修改部门</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">
			/* Chart.js */
			
			@-webkit-keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			@keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			.chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
			}
		</style>
	</head>

	<body>

		<div th:replace="~{common/commons::topbar}"></div>

		<div class="container-fluid">
			<div class="row">
				<!--公共的侧边栏-->
				<div th:replace="~{common/commons::sidebar(active='Dlist.html')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<form th:action="@{/department/updateDepartment}" method="post">
						<div class="form-group">
							<!--隐藏域-->
							<input type="hidden" name="did" th:value="${Qdepartment.getDid()}">
							<label>部门名</label>
							<input type="text" name="departmentName" class="form-control" th:value="${Qdepartment.getDepartmentName()}" required>
						</div>

						<div class="form-group">
							<label>上级部门</label>
							<select class="form-control" name="parentdepart">
								<option th:selected="${Pdept.getPdid()==Qdepartment.getParentdepart()}" th:each="Pdept:${Pdepartments}"
										th:text="${Pdept.getPdname()}"
										th:value="${Pdept.getPdid()}">1
								</option>
							</select>
						</div>

						<div class="form-group">
							<label>部门信息</label>
							<input type="text" name="departinfo" class="form-control" th:value="${Qdepartment.getDepartinfo()}" required>
						</div>
						<button type="submit" class="btn btn-primary">修改</button>
					</form>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/asserts/js/bootstrap.min.js}"></script>

		<!-- Icons -->
		<script type="text/javascript" th:src="@{/asserts/js/feather.min.js}"></script>
		<script>
			feather.replace()
		</script>

		<!-- Graphs -->
		<script type="text/javascript" th:src="@{/asserts/js/Chart.min.js}"></script>
	</body>

</html>